<li id="instertTimestamp" onClick="ep_chaptermarks.insertTimestamp(-20);return false;">
  <a title="Insert Tirmestamp" class="grouped-left"><span class="buttonicon buttonicon-insert-timestamp">-00:05</span></a>
</li>
<li id="instertTimestamp" onClick="ep_chaptermarks.insertTimestamp(-5);return false;">
  <a title="Insert Tirmestamp" class="grouped-middle"><span class="buttonicon buttonicon-insert-timestamp">-00:05</span></a>
</li>
<li id="instertTimestamp" onClick="ep_chaptermarks.insertTimestamp(0);return false;">
  <a title="Insert Tirmestamp" class="grouped-right"><span class="buttonicon buttonicon-insert-timestamp"></span></a>
</li>
